	body {

		background-color: black;
	}

	.small {
		font-size: 50%;
	}


	#page {
		
		margin: 10px auto;
		width: 790px;
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;			
		grid-template-columns: 150px 150px 150px 150px 150px;
		grid-template-rows: 200px 200px 200px 200px;

		grid-template-areas: 
		"u c t gamma higgs"
		"d s b gluon empty"
		"e m tau Z empty"
		"ne nm nt W empty";
	}



	@media all and (max-width:810px) {

		#page {

			width: 470px;
			grid-template-rows: 200px 200px 200px 200px 200px 200px;
			grid-template-areas: 
			"u c t"
			"d s b"
			"e m tau"
			"ne nm nt"
			"gamma gluon higgs"
			"Z W empty";

		}

	}

